{% load static %}

<html>

<head>
    <meta charset="UTF-8">

    <!-- 引入jQuery -->
{#    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>#}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <!-- 引入 Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <title>测试平台</title>

    <style>
        .loading {
            width: 160px;
            height: 56px;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 56px;
            color: #fff;
            padding-left: 60px;
            font-size: 15px;
            background: #000 no-repeat 10px 50%;
            opacity: 0.7;
            z-index: 9999;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
        }
    </style>
</head>
<body>

<div class="jumbotron masthead">
  <div class="container" style="height:100px;">
    <h1>Bootstrap</h1>
  </div>
</div>

<div class="container projects">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img id="qrcode" class="lazy" src="/static/wx_login/qrcode.jpg"  alt="Bootstrap 优站精选" width="200px">
    {#            <p>请重新扫描二维码</p>#}
                <div class="caption">
                    <p>二维码</p>
                    <button id="login_btn">登陆</button>
                    <button id="qr_btn">检查二维码状态</button>
                    <button id="check_btn">检查登陆状态</button>
                    <button id="load_btn">加载登陆状态</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <label>消息列表</label>
                <ul id="msglist" class="list-group">
                    <li class="list-group-item">A</li>
                    <li class="list-group-item">B</li>
                    <li class="list-group-item">C</li>
                    <li class="list-group-item">D</li>
                    <li class="list-group-item">E</li>
                </ul>
            </div>
        </div>
    </div>

    <!--消息显示区域-->
    <div class="row ">
    </div>

    <!--页面加载等待弹窗-->
    <div id="myModal" class="modal fade" data-keyboard="false"
            data-backdrop="static" data-role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div id="loading" class="loading">等待手机确认中...</div>
    </div>
</div>

</body>
<script type="text/javascript">
    {#js String函数扩展#}
    String.prototype.format = function () {
        var args = [].slice.call(arguments);
        return this.replace(/(\{\d+\})/g, function (a){
            return args[+(a.substr(1,a.length-2))||0];
        });
};

    var login_status = false;
    function log_in(){
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:8000/login/",
             data: "",
             dataType: "text",
             success: function(data) {
                 if(data === '200'){
                     {#log in successfully#}
                     login_status = true;
                     $('#myModal').modal('hide');
                 }else if(data === '408') {
                     {#uuid timed out#}
                    {#window.location.href="http://127.0.0.1:8000/qrcode/";#}
                     login_status = false;
                     $("#qrcode").attr("src","/static/wx_login/qrcode.jpg?"+Math.random());
                 }else if(data === '201'){
                     {#waiting for press confirm #}
                     login_status = false;
                     $('#myModal').modal('show');
                     setTimeout("log_in()", 5000);
                 }else{
                     {#unknown error#}
                    alert("未知错误");
                 }
             },
             complete: function(){
                if(login_status)
                    get_msg();
             }
         });
    }

    function get_msg(){
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:8000/getmsg/",
             contentType: "application/json; charset=utf-8",
             data: {},
             dataType: "json",
             success: function(data){
                if(data.status == 'ok'){
                    $("#tcontent").text("time:{0} from:{1}  to:{2}  content:{3}"
                        .format(data.msg_time, data.msg_from, data.msg_to, data.msg_text))
                }else{
                 window.location.href="http://127.0.0.1:8000/qrcode/";
                }

                var ul = $("#msglist");
                var li_count = $("#msglist li").length;
                var msg_new = $('<li class="list-group-item"></li>');
                msg_new.text("time:{0} from:{1}  to:{2}  content:{3}"
                    .format(data.msg_time, data.msg_from, data.msg_to, data.msg_text));
                if(li_count > 5){
                    $("#msglist li:eq(0)").remove();
                }
                ul.append(msg_new);
             },
             complete: function(){
                 get_msg();
             }
         });
    }

    function init_loan(){
        $('#myModal').modal('hide');
        log_in();
    }

    $(function(){

    });

    window.onload = function () {
        init_loan();
    }


    $("#login_btn").click(function () {
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:8000/login/",
             data: "",
             dataType: "text",
             success: function(data) {
                 if (data !== '200')
                     setTimeout("log_in()", 1000);
                 else{
                     alert('login success ...get msg ...');
                     login_status = true;
                 }
             },
             complete: function(){
                if(login_status)
                    get_msg();
             }
         });
    });

    $("#qr_btn").click(function () {
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:8000/qrcode/",
             data: "",
             dataType: "text",
             success: function(data) {
                  $("#qrcode").attr("src","/static/wx_login/qrcode.jpg?"+Math.random());
             }
         });
    });

    $("#check_btn").click(function () {
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:8000/checklogin/",
             data: "",
             dataType: "text",
             success: function(data) {
                alert(data)
             }
         });
    });

    $("#load_btn").click(function () {
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:8000/loadlogin/",
             data: "",
             dataType: "text",
             success: function(data) {
                alert(data)
             }
         });
    });

</script>

</html>
